/*css reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body a{
    color: #979696;
}

header{
    
    height: 230px;
    width: 1920px;
}

.container-grid {
    display: flex ;
    justify-content:space-between;  ;
    width: 1520px;
    margin: 0 auto;
}
 
.icones {

    display:flex;
    justify-content: space-between;
    align-items:center;
}   

.menu a{
    text-decoration: none;
    text-transform: uppercase;
}

.menu {
    
    width: 1090px;
    display: flex;
    justify-content:space-between ;
    align-items:flex-end;
    font-family: "open sans";

}

.superioraomenu {
    
    
    display: flex;
    align-items:center;
    justify-items: space-between;
}

.superioraomenu a{
    
    text-decoration: none;
}

.lgo {
    justify-content: left;
}

.banner{
    height:668px;
    background-image: url(Group\ 12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}
.banner h1{
    font-family: noto sans "";
    font-size: 64px;
}